/* styles.css */
h1 {
    color: beige;
    background-color: darkolivegreen;
    font-size: 32px
    text-align: center
    font-weight: bold
}
body {  background-color: beige;
    color: black;
    padding: 40px;
    text-align: left;}